@font-face {
    font-family: Orbitron;
    src: url("fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
    font-family: Eternal;
    src: url("fonts/EternalUiBold-p7mZ1.ttf");
}

#title {
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(2px); 
    background-color: rgba(255, 255, 255, 0.2);
}

#title a {
    display: inline-block;
}

body {
    background-color: #111;
    background-image: url("images/fondoClientesVer1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center; 
    color: #fff; 
    font-family: 'Orbitron','Arial', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#close_sesion {
    position: absolute;
    top: 10px; 
    left: 10px; 
}

#close_sesion a {
    text-decoration: none;
    color: #fff;
    padding: 10px; 
    background-color: #555; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

#close_sesion a:hover {
    background-color: #333; 
}

#videoContainer {
    position: absolute;
    z-index: -3;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}
  


.navbar a:hover {
    background-color: #555;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.item {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: fit-content;
    height:fit-content;
    box-sizing: border-box;
    /*background-color: #333;*/
    text-align: center;
    border-radius: 8px;
    font-size: 3vh;
    
    transition: opacity 1s linear, transform 1s cubic-bezier(1,-0.07,.44,1.57), filter 1s linear;
}
@media screen and (max-width: 750px) {
    .item:not(.selected){
        opacity: 0;
    }
}

.image{
    filter: brightness(0%);
    height: auto;
    width: 40vw;
    transition: inherit;
}

@media (min-height: 40vh) {
    .image {
        height: 40vh;
        width: auto;
        transition: inherit;
    }
}

.scanlines{
    background-image: url("images/scanlines1.png");
    background-repeat: repeat;
    background-size: 0.5vw;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    transition: inherit;
}

.priceContainer{
    padding: 0.5vw;
    position: absolute;
    top: 2vh;
    right: 2vw;
    background-color: rgba(255, 0, 0, 0.7);
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 50%);
    clip-path: polygon(0 0, 70% 0%, 100% 30%, 100% 100%, 30% 100%,0% 70%);
    opacity: 0;
    transition: inherit;
}

.price {
    background-image: url("images/scanlines1.png");
    background-repeat: repeat;
    background-size: 0.2vw;
    opacity: 0.5;
    font-weight: bold;
    font-size: 3vh;
    font-family: 'Eternal', 'Arial';
    text-shadow: 3px 1px 4px rgba(255, 255, 255, 0.774);
    padding: 1vw;
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 50%);
    clip-path: polygon(0 0, 70% 0%, 100% 30%, 100% 100%, 30% 100%,0% 70%);
}

.title{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: inherit;
}

.selected > .priceContainer{
    opacity: 1;
}

.selected > .title{
    opacity: 1;
}

.selected > .scanlines{
    opacity: 0;
}


.title, footer > p{
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.774);
}

.selected > .image{
    filter: brightness(100%);
}




.item:hover {
    transform: scale(1.5);
    cursor: pointer;
}

footer {
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
